/* geral */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Baumans&family=IBM+Plex+Mono&display=swap");

body {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #fafafa;
}

h1 {
  margin: 0px;
}

/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header-logos {
  display: flex;
  gap: 42px;
}

.header-logos h1 {
  font-family: "Baumans";
  font-weight: normal;
  cursor: default;
}

.header-logos img {
  height: 37px;
  width: 259px;
}

.header-btn {
  text-decoration: none;
  padding: 0.7rem 1.8rem;
  border: 1px solid #3f54a3;
  border-radius: 6px;
  font-family: "DM Sans";
  text-transform: uppercase;
  color: #000000;
}

.header-btn:hover {
  background-color: #3f54a3;
  color: #fff;
  transition: 0.4s;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.main-about {
  margin-top: 40px;
}

.main-about h2 {
  font-family: "IBM Plex Mono";
  text-transform: uppercase;
  color: #67bece;
  margin: 0px;
}

.main-about h1 {
  font-family: "IBM Plex Mono";
  font-size: 4rem;
  color: #000000;
}

.main-about p {
  font-family: "DM Sans";
  font-size: 1.2rem;
  color: #737373;
}

/* cards and card list */
.main-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 40px;
}

@media (max-width: 1200px) {
  main {
    align-items: center;
  }

  .main-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .main-list {
    grid-template-columns: 1fr;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.12);
}

.card-languages {
  display: flex;
  gap: 10px;
}

.card img {
  max-width: 100%;
}

.card-text {
  padding: 20px;
  font-family: "DM Sans";
}

.card-text h3 {
  margin: 0px;
  font-family: "IBM Plex Mono";
}

.card-text > p {
  color: #737373;
  font-size: 1rem;
  max-width: 30ch;
}

.card-links {
  display: flex;
  gap: 10px;
}

.card-links a {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 0.9rem;
}

.HTML-p {
  color: #e34f26;
  margin: 5px 0px 0px 0px;
}

.CSS-p {
  color: #1572b6;
  margin: 5px 0px 0px 0px;
}

.btn-demo {
  padding: 0.4rem 2.2rem;
  color: #fff;
  background-color: #3f54a3;
  border-radius: 4px;
}

.btn-demo:hover {
  background-color: #123888;
  transition: 0.3s;
}

.btn-github {
  padding: 0.4rem 2.2rem;
  color: #000;
  border: 1px solid #67bece;
  border-radius: 4px;
}

.btn-github:hover {
  border: 1px solid #3f54a3;
}
